.balance{
  text-align: right;
}

.heading{
  text-align: center;
}

.container{
  width: 80%;
  margin: auto;
}

.log-in-form{

  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.log-in-form input{
  display: block;
  
}

.log-in-form div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.log-in-form .log-in-btn, .log-in-form input{
 margin-bottom: 5px;
 padding: 5px;
}

.log-in-btn{
  margin-top: 5px;
}



.debit-form{
  text-align: center;
  width: 60%;
  margin: auto;
}

